[flake8]
exclude =
  .flake8
  .git
  *__init__.py
ignore =
  E123 # closing bracket does not match indentation of opening bracket's line
  E225 # missing whitespace around operator
  E226 # missing whitespace around arithmetic operator
  E228 # missing whitespace around modulo operator
  E231 # missing whitespace after ','
  E265 # block comment should start with '# '
  E402 # module level import not at top of file
  E501 # line too long
  E722 # do not use bare except'
  F401 # library imported but unused
  F601 # dictionary key 'tags' repeated with different values
  F811 # redefinition of unused 'datetime' from line 10
  F821 # undefined name 'SysLogHandler'
  F841 # local variable 'CIDR' is assigned to but never used
  W503 # line break before binary operator
