[flake8]
# Ignore any leftover build artifacts of mozdef_util package
exclude = mozdef_util/build

per-file-ignores =
  # Ignore 'library imported but unused' for only the alert config files
  # since we stub timedelta and crontab
  alerts/lib/config.py: F401
  docker/compose/mozdef_alerts/files/config.py: F401

  # Ignore any import statements in __init__ files
  mozdef_util/mozdef_util/query_models/__init__.py: F401

ignore =
  E225 # missing whitespace around operator
  E231 # missing whitespace after ','
  E402 # module level import not at top of file
  E501 # line too long
  E722 # do not use bare except'
