*.conf filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.ini !filter !diff
.git* !filter !diff
cron/mozdefGoogleCredentials.json filter=git-crypt diff=git-crypt
cron/auth02mozdef.json filter=git-crypt diff=git-crypt
