[Unit]
Description=uWSGI mozdef mqwBro
After=syslog.target

[Service]
# Requires systemd version 211 or newer
User=mozdef
Group=mozdef
ExecStart=/bin/bash -c 'cd /opt/mozdef/envs/mozdef/mq; source /opt/mozdef/envs/mozdef/bin/activate; uwsgi --ini mqwBro.ini'
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
Alias=mqwbro
