[Unit]
Description=uWSGI MozDef Alert Actions Service
After=rabbitmq-server.service

[Service]
# Requires systemd version 211 or newer
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir -p /var/run/mozdef-alerts
ExecStartPre=/usr/bin/chown -R mozdef:mozdef /var/run/mozdef-alerts
User=mozdef
Group=mozdef
ExecStart=/bin/bash -c 'cd /opt/mozdef/envs/mozdef/alerts; source /opt/mozdef/envs/python/bin/activate; uwsgi --ini alert_actions.ini'
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
Alias=alertactions
