[Unit]
Description=MongoDB Database Service
After=network.target

[Service]
Type=forking
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir -p /var/run/mozdefdb
ExecStartPre=/usr/bin/chown -R mozdef:mozdef /var/run/mozdefdb/
PIDFile=/var/run/mozdefdb/mozdefdb.pid
ExecStart=/usr/bin/mongod  --storageEngine=mmapv1 --config /etc/mongod.conf --syslog
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=mozdef
Group=mozdef
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
