[Unit]
Description=uWSGI MozDef Rest API Service
After=mozdefweb.service

[Service]
# Requires systemd version 211 or newer
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir -p /var/run/mozdef-rest
ExecStartPre=/usr/bin/chown -R mozdef:mozdef /var/run/mozdef-rest/
User=mozdef
Group=mozdef
ExecStart=/bin/bash -c 'cd /opt/mozdef/envs/mozdef/rest; source /opt/mozdef/envs/python/bin/activate; uwsgi --ini restapi.ini'
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
Alias=restapi
