[Unit]
Description=Kibana
Requires=elasticsearch.service

[Service]
ExecStart=/opt/mozdef/envs/kibana/bin/kibana
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kibana4
User=mozdef
Group=mozdef
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
