---
version: '3.7'
services:
  rest:
    build:
      context: ../../
      dockerfile: docker/compose/mozdef_rest/Dockerfile
    restart: always
    command: bash -c 'python index.py -c index.conf'
    depends_on:
      - base
      - elasticsearch
      - mongodb
      - bootstrap
    networks:
      - default
    volumes:
      - ../../rest:/opt/mozdef/envs/mozdef/rest
    stdin_open: true
    tty: true