---
version: '2.2'
services:
  nginx:
    build: nginx/
    restart: always
    command: /usr/sbin/nginx
    depends_on:
      - kibana
      - meteor
    ports:
      - 80:80
      - 9090:9090
    networks:
      - default
  mongodb:
    build: mongodb/
    restart: always
    command: /usr/bin/mongod --smallfiles --config /etc/mongod.conf
    volumes:
      - mongodb:/var/lib/mongo
    networks:
      - default
  kibana:
    build: kibana/
    restart: always
    command: bin/kibana --elasticsearch=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - default
  elasticsearch:
    build: elasticsearch/
    restart: always
    command: bin/elasticsearch -Des.insecure.allow.root=true -Dnetwork.host=0.0.0.0
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - default
  rabbitmq:
    build: rabbitmq/
    restart: always
    command: rabbitmq-server
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    # ports:
    #   - 5672:5672
    #   - 15672:15672
    networks:
      - default

  # MozDef Specific Containers
  base:
    build:
      context: ../../
      dockerfile: docker/compose/mozdef_base/Dockerfile
  bootstrap:
    build:
      context: ../../
      dockerfile: docker/compose/mozdef_bootstrap/Dockerfile
    command: bash -c 'sleep 7 && source /opt/mozdef/envs/python/bin/activate && python initial_setup.py http://elasticsearch:9200 defaultMappingTemplate.json'
    depends_on:
      - base
      - elasticsearch
    networks:
      - default
  alertplugins:
    build:
      context: ../../
      dockerfile: docker/compose/mozdef_alertplugins/Dockerfile
    restart: always
    command: bash -c 'sleep 5 && source /opt/mozdef/envs/python/bin/activate && python alertWorker.py -c alertWorker.conf'
    depends_on:
      - base
      - elasticsearch
      - rabbitmq
      - alerts
      - bootstrap
    networks:
      - default
  alerts:
    build:
      context: ../../
      dockerfile: docker/compose/mozdef_alerts/Dockerfile
    restart: always
    command: bash -c 'sleep 5 && source /opt/mozdef/envs/python/bin/activate && celery -A celeryconfig worker --loglevel=info --beat'
    depends_on:
      - base
      - elasticsearch
      - rabbitmq
      - bootstrap
    networks:
      - default
  # bot:
  #   build:
  #     context: ../../
  #     dockerfile: docker/compose/mozdef_bot/Dockerfile
  #   restart: always
  #   command: bash -c 'sleep 5 && source /opt/mozdef/envs/python/bin/activate && python bot/mozdefbot.py -c bot/mozdefbot.conf'
  #   depends_on:
  #     - base
  #     - rabbitmq
  #     - alerts
  #     - bootstrap
  #   networks:
  #     - default
  cron:
    build:
      context: ../../
      dockerfile: docker/compose/mozdef_cron/Dockerfile
    restart: always
    command: crond -n
    volumes:
      - cron:/opt/mozdef/envs/mozdef/cron
    depends_on:
      - base
      - rabbitmq
      - elasticsearch
      - mongodb
      - bootstrap
    networks:
      - default
  loginput:
    build:
      context: ../../
      dockerfile: docker/compose/mozdef_loginput/Dockerfile
    restart: always
    command: bash -c 'sleep 5 && source /opt/mozdef/envs/python/bin/activate && python loginput/index.py -c loginput/index.conf'
    depends_on:
      - base
      - elasticsearch
      - rabbitmq
      - bootstrap
    ports:
      - 8080:8080
    networks:
      - default
  mq_syslog:
    build:
      context: ../../
      dockerfile: docker/compose/mozdef_mq_worker/Dockerfile
    restart: always
    command: bash -c 'sleep 5 && source /opt/mozdef/envs/python/bin/activate && python esworker.py -c syslog_worker.conf'
    scale: 1
    depends_on:
      - base
      - rabbitmq
      - elasticsearch
      - loginput
      - bootstrap
    networks:
      - default
  meteor:
    build:
      context: ../../
      dockerfile: docker/compose/mozdef_meteor/Dockerfile
    restart: always
    command: bash -c 'node bundle/main.js'
    depends_on:
      - mongodb
      - rest
    networks:
      - default
  rest:
    build:
      context: ../../
      dockerfile: docker/compose/mozdef_rest/Dockerfile
    restart: always
    command: bash -c 'source /opt/mozdef/envs/python/bin/activate && python rest/index.py -c rest/index.conf'
    depends_on:
      - base
      - elasticsearch
      - mongodb
      - bootstrap
    ports:
      - 8081:8081
    networks:
      - default

volumes:
  elasticsearch:
  rabbitmq:
  mongodb:
  cron:

networks:
  default: