---
version: '3.0'
services:
  elasticsearch:
    build:
      context: ../../
      dockerfile: docker/compose/elasticsearch/Dockerfile
    restart: always
    command: bin/elasticsearch
    ports:
      - 9200:9200
    networks:
      - default
  rabbitmq:
    build:
      context: ../../
      dockerfile: docker/compose/rabbitmq/Dockerfile
    restart: always
    command: rabbitmq-server
    ports:
      - 5672:5672
    networks:
      - default

networks:
  default:
